Importação de bibliotecas

In [3]:
import pandas as pd
import numpy as np
from google.colab import drive

In [6]:
%matplotlib inline

drive.mount('/content/drive')

Mounted at /content/drive

Lendo arquivo

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/UP/Ciência de Dados/DATASET/2022Viagem.csv', engine='python' , encoding='utf8', sep=';')

,Identificador do processo de viagem,C?digo do ?rg?o superior,C?digo ?rg?o solicitante
count,1.425400e+04,14254.000000,14254.000000
mean,1.781129e+07,32282.797531,31907.848814
std,2.327043e+04,16963.465437,16953.350153
min,1.743834e+07,-1.000000,-1.000000
25%,1.780856e+07,25000.000000,25205.000000
50%,1.781614e+07,30000.000000,30802.000000
75%,1.782426e+07,52000.000000,52000.000000
max,1.783304e+07,63000.000000,64000.000000